*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #263a41; }

.heading__1 {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.3; }

.heading__2 {
  font-family: "Rufina", serif;
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #263a41; }

.header--span {
  color: #f1817e;
  text-transform: uppercase;
  font-family: "Rufina", serif;
  letter-spacing: 1.5;
  display: block;
  margin-bottom: 2rem; }

.paragraph__text {
  font-size: 1.4rem;
  color: #888888; }

.section__description {
  width: 70%;
  margin-bottom: 3rem; }

.button {
  border: none;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 2px; }
  .button__pink {
    background-color: #f1817e;
    transition: all 0.2s;
    color: #fff; }
    .button__pink:focus, .button__pink:hover {
      background-color: #ec5450;
      transform: translateY(-3px);
      box-shadow: 0 1.1rem 1.1rem rgba(0, 0, 0, 0.11); }
    .button__pink:active {
      transform: translateY(-2px); }
    .button__pink--round {
      border-radius: 50px; }

.button__video {
  border: none;
  margin-left: 2.5rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: #fcf5ee;
  transform: translateY(5px);
  transition: all 0.2s; }
  .button__video--icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #f1817e;
    transform: translateY(1px); }
  .button__video:focus, .button__video:hover {
    background-color: #f9ede0; }
  .button__video:focus > *,
  .button__video:hover > * {
    fill: #ec5450; }

.nav {
  width: 49%;
  margin-left: 14rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  z-index: 100;
  position: relative; }
  .nav__logo img {
    max-width: 80%; }
  .nav__navigation {
    width: 60%;
    margin-left: 10rem;
    display: flex;
    justify-content: space-between; }
  .nav__item {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
    color: #000;
    font-weight: 500; }
  .nav__link {
    text-decoration: none;
    color: #263a41; }

.header__content {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 15%; }

.header__heading {
  width: 80%;
  margin-bottom: 2rem; }

.header__description {
  margin-bottom: 2rem;
  width: 90%; }

.header__video-label {
  margin-left: 1rem;
  font-size: 1.4rem;
  color: #263a41; }

.header {
  height: calc(70vh + 1em);
  position: relative;
  margin-bottom: 5rem; }
  .header__img {
    z-index: 1; }
    .header__img--left {
      position: absolute;
      top: 12rem;
      width: 18%; }
      .header__img--left img {
        max-width: 85%; }
    .header__img--right {
      position: absolute;
      top: 0;
      right: 0;
      width: 40%; }
      .header__img--right img {
        max-width: 100%; }

.about {
  margin: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
