.nav {
  width: 70%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  position: relative;

  &__navigation {
    width: 60%;
    margin-left: 10rem;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
    color: $color-gray-dark;
    font-weight: 500;

    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }

  &__link {
    text-decoration: none;
    transition: all 0.2s;
    padding-bottom: 1rem;

    &:link,
    &:visited {
      color: $color-gray-dark;
      border-bottom: 2px solid transparent;
    }

    &:hover:not(#nav__logo),
    &:active:not(#nav__logo) {
      color: $color-pink-primary;
      border-bottom: 2px solid $color-pink-primary;
    }
  }
}

.header {
  &__content {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 15%;
  }

  &__heading {
    width: 80%;
    margin-bottom: 2rem;
  }

  &__description {
    margin-bottom: 2rem;
    width: 90%;
  }

  &__video-label {
    margin-left: 1rem;
    font-size: 1.4rem;
    color: $color-gray-dark;
  }
}
