.nav {
  width: 49%;
  margin-left: 14rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  z-index: 100;
  position: relative;

  &__logo {
    img {
      max-width: 80%;
    }
  }

  &__navigation {
    width: 60%;
    margin-left: 10rem;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
    color: #000;
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    color: $color-gray-dark;
  }
}

.header {
  &__content {
    width: 50%;
    position: absolute;
    top: 45%;
    left: 15%;
  }

  &__heading {
    width: 80%;
    margin-bottom: 2rem;
  }

  &__description {
    margin-bottom: 2rem;
    width: 90%;
  }
}
