body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-gray-dark;
}

.heading__1 {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.3;
}

.heading__2 {
  font-family: "Rufina", serif;
  font-size: 4rem;
  margin-bottom: 3rem;
  color: $color-gray-dark;
}

.heading__3 {
  font-family: "Rufina", serif;
  font-size: 2rem;
  color: $color-gray-dark;
}

.header--span {
  color: $color-pink-primary;
  text-transform: uppercase;
  font-family: "Rufina", serif;
  letter-spacing: 1.5;
  display: block;
  margin-bottom: 2rem;
}

.paragraph__text {
  font-size: 1.4rem;
  color: $color-gray-light;
}

.section__description {
  width: 70%;
  margin-bottom: 3rem;
}
