.header {
  height: calc(70vh + 1em);
  position: relative;
  margin-bottom: 5rem;

  &__img {
    z-index: 1;

    &--left {
      position: absolute;
      top: 12rem;
      width: 18%;

      img {
        max-width: 85%;
      }
    }

    &--right {
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;

      img {
        max-width: 100%;
      }
    }
  }
}

.about {
  margin: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
