.header {
  height: 70vh;
  position: relative;

  &__img {
    z-index: 1;

    &--left {
      position: absolute;
      top: 12rem;
      width: 18%;

      img {
        max-width: 85%;
      }
    }

    &--right {
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;

      img {
        max-width: 100%;
      }
    }
  }
}
